@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://use.fontawesome.com/releases/v5.0.7/css/all.css');

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
}
.lead{
    font-weight: 100;
}
.home-media-image{
    width: 25%;
}
.footer{
    
}
/* login page */
.row-login-form{
    margin-top: 50px;
}